@use '../../../styles/vars' as v;

.tips {
  width: 90%;
  margin-bottom: 35px;
  &__title {
    color: v.$color-dark-grayish-cyan;
    font-size: v.$title-font-size;
    font-weight: v.$font-weight-bold;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__button {
    &:hover {
      background: #a0e8df;
      color: v.$color-very-dark-cyan;
    }
  }
}

.tip {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background: v.$color-very-dark-cyan;
  color: v.$color-white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: v.$font-weight-bold;
  &--selected{
    background: v.$color-strong-cyan;
  }
  &--custom {
    background: v.$color-light-grayish-cyan;
    color: v.$color-very-dark-cyan;
    text-align: right;
    &::placeholder {
      color: v.$color-dark-grayish-cyan;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      border: v.$color-strong-cyan 2px solid;
    }
  }
}

@media screen and (max-width: v.$mobile) {
  .tip {
    width: 120px;
  }
}
