@use '../../styles/vars' as v;

.splitter {
  display: flex;
  max-width: 800px;
  height: 400px;
  background: v.$color-white;
  border-radius: 25px;
  &__bill {
    margin: 40px 0 0 40px;
    width: 50%;
  }
  &__amount {
    width: 50%;
    background: v.$color-very-dark-cyan;
    margin: 30px;
    border-radius: 20px;
  }
}

@media screen and (max-width: v.$mobile-large) {
  .splitter {
    width: 100%;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    height: auto;
    &__bill {
      width: 100%;
      margin: 0;
      padding: 40px 0 0 20px;
    }
    &__amount {
      margin: 30px auto 30px;
      width: 90%;
    }
  }
}
