@use '../../styles/vars' as v;

.calculator {
  font-family: "Space Mono", monospace;
  background: hsl(185, 41%, 84%);
  min-height: 100vh;
}

@media screen and (max-width: v.$mobile) {
  .calculator {
    width: 100%;
  }
}