@use '../../styles/vars' as v;

* {
  font-family: "Space Mono", monospace;
}

.calculator {
  background: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hide arrow input on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Hide arrow input on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: v.$mobile) {
  .calculator {
    width: 100%;
  }
}