@use '../../styles/vars' as v;

* {
  font-family: "Space Mono", monospace;
}

.calculator {
  background: hsl(185, 41%, 84%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: v.$mobile) {
  .calculator {
    width: 100%;
  }
}